* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
    
}
.logo{
    padding: 16px;
    background-color: white;
}

.h2-logo{
    color: #f43f30;
    display: inline;
    padding-left: 10px;
    font-size: 38px;
    font-weight: bold;
    
    
}
.search-icon-header{
    float: right;
    padding: 10px;
}
.banner-background{
    background-image:url(/images/london.jpg) ;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
display: flex;
max-width: 1400px;
width: 100%;
margin: auto;
padding-top: 300px;
}
li{
    background-color: black;
    color: white;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 100%;
    list-style-position: inside;
}
li:hover{
    background-color: #f43f30;
}

.flight{
    list-style-image: url(/images/airplane.png);
}
.hotel{
    list-style-image: url(/images/bed.png)
}
.rental{
    list-style-image: url(/images/car.png)
}
.form-background{
    background-color: white;
    color: black;
    margin: auto;
    height: 330px;
    max-width: 1400px;
    width: 100%;
    padding: 25px;
    padding-top: 45px;
    
}
.pform{
    font-size: 40px;
    padding-bottom: 20px;
}
.label1{
    padding-right: 600px;
    font-size: 20px;
}

input[type="text"]{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    
}
input[type="submit"]{
   text-align: center;
   background-color: gray;
   color: white;
   width: 20%;
   font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-width: 5px;
}
